<div class="container mx-auto p-4">
    <div class="mb-6 p-4 bg-white rounded-lg shadow">
        @if (lobbyService.playerName()) {
        <div class="flex justify-between items-center">
            <p class="text-lg">
                Welcome,
                <span class="font-bold">{{ lobbyService.playerName() }}</span
                >!
            </p>
            <button
                (click)="clearPlayerName()"
                class="bg-rose-500 hover:bg-rose-600 text-white font-bold py-1 px-3 rounded text-sm"
            >
                Logout
            </button>
        </div>
        <p class="text-sm text-gray-600">You can now join or create a lobby.</p>
        } @else {
        <h2 class="text-lg font-semibold mb-2">Set Your Player Name</h2>
        <div class="flex">
            <input
                #playerNameInput
                type="text"
                class="p-2 border rounded-l-md flex-grow"
                placeholder="Enter your name..."
            />
            <button
                (click)="setPlayerName(playerNameInput.value)"
                class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-r-md"
            >
                Set Name
            </button>
        </div>
        }
    </div>

    <div class="flex justify-between items-center mb-4">
        <h1 class="text-3xl font-bold">Game Lobbies</h1>
        <button
            (click)="onCreateLobby()"
            [disabled]="!lobbyService.playerName()"
            class="bg-blue-400 text-white font-bold py-2 px-4 rounded disabled:bg-gray-400"
        >
            Create New Lobby
        </button>
    </div>

    @if (lobbies().length === 0) {
    <p class="text-gray-600">No lobbies available. Create one!</p>
    } @else {
    <ul class="space-y-4">
        @for (lobby of lobbies(); track lobby.id) {
        <li class="bg-gray-100 p-4 rounded-lg shadow">
            @if(getPlayers(lobby.id!) | async; as players) {
            <div class="flex justify-between items-center">
                <h2 class="text-xl font-semibold">
                    {{ lobby.name }} ({{ lobby.status }})
                </h2>
                <div class="flex items-center space-x-2">
                    <button
                        (click)="onOpenLobby(lobby.id!)"
                        class="bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded"
                    >
                        Open
                    </button>
                    @if (isPlayerInLobby(players)) {
                    <button
                        (click)="onLeaveLobby(lobby.id!, players)"
                        class="bg-rose-500 hover:bg-rose-600 text-white font-bold py-2 px-4 rounded"
                    >
                        Leave
                    </button>
                    } @else {
                    <button
                        (click)="onJoinLobby(lobby.id!)"
                        [disabled]="!lobbyService.playerName()"
                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded disabled:bg-gray-400"
                    >
                        Join
                    </button>
                    }
                </div>
            </div>
            <div class="mt-4">
                <h3 class="font-bold">Players:</h3>
                @if (players.length > 0) {
                <ul class="list-disc pl-5 mt-2">
                    @for (player of players; track player.id) {
                    <li>{{ player.name }}</li>
                    }
                </ul>
                } @else {
                <p class="text-gray-500 mt-2">No players have joined yet.</p>
                }
            </div>
            }
        </li>
        }
    </ul>
    }
</div>
